{% extends "analyzer/base.html"%}
{% block title %} - Indeks {% endblock %}
{% block content %}

<div>
	Autorami tej
		strony są:
		<div>
			<div class="authorsItem">
				<div>
					<!-- zdjęcie  -->
				</div>
			
				<span>
					Aleksandra Grzelak
				</span>
			</div>
			<div class="authorsItem">
				<div>
					<!-- zdjęcie  -->
				</div>
			
				<span>
					Dorian Janiak
				</span>
			</div>
			<div class="authorsItem">
				<div>
					<!-- zdjęcie  -->
				</div>
			
				<span>
					Marcin Ochman
				</span>
			</div>
		</div>
		
</div>

{% endblock %}