{% extends "analyzer/base.html"%}
{% block title %} - prognoza {% endblock %}
{% block content %}

<div id="Index">
<h1>Prognoza</h1>

{% if station_list %}
    <table class="table">
        <thead>
        <tr>
            <th class="col-lg-2">Miasto</th>
            <!--<th class="col-lg-1">Rodzaj pomiaru</th>-->
            {% for rodzaj_pom in rodzaj_pomiaru_list %}
             <th class="col-lg-1">{{ rodzaj_pom.nazwa }}</th>
                      {% endfor %}

        </tr>
        </thead>
        <tbody>
        {% for station in station_list %}
      <tr>
          <td> {{ station.nazwa }}</td>

              {% for rodzaj_pom in rodzaj_pomiaru_list %}
             <td>
                 <a  class="btn btn-default" href="{% url 'forecast_det' station.id rodzaj_pom.id %}">
               {{ rodzaj_pom.nazwa }}</a>
             </td>
          {% endfor %}
          </tr>
        {% endfor %}
           </tbody>
        </table>

    {% else %}
    <p> W bazie nie ma żadnej stacji.</p>
    {% endif %}



</div>

    {% endblock %}
