{% extends "analyzer/base.html"%}
{% block title %} - Indeks {% endblock %}
{% block content %}

<div id="Indeks">
<h1> Indeks </h1>
    <p>Witaj na stronie głównej projektu z Baz Danych. 	
    </p>

<p> Klikając w poniższe odnośniki wybierz, co chciałbyś zrobić?</p>

{% load staticfiles %}
<div class="indexMenu">	
    	<div align="center" class="float-left">
    	<a href="{%url "stations"%}">
    		<div>
    			<img src="{% static "img/stations_index.jpg" %}"/> 
    		</div>
    		<div class="textMenuItem">
    			Stacje pogodowe
	    	</div>
	    	</a>
   		 </div>
   		     	<div align="center" class="float-left">
    	<a href="{%url "forecast"%}">
    		<div>
    			<img src="{% static "img/wheather_forecast_index.jpg" %}"/> 
    		</div>
    		<div class="textMenuItem">
    			Prognoza pogody
	    	</div>
	    	</a>
   		 </div>
   		     	<div align="center" class="float-left">
    	<a href="{%url "stations"%}">
    		<div>
    			<img src="{% static "img/statistics_index.png" %}"/> 
    		</div>
    		<div class="textMenuItem">
    			Statystyki pogody
	    	</div>
	    	</a>
   		 </div>
    
</div>

</div>

    {% endblock %}
