{% extends "analyzer/base.html"%}
{% block title %} - stacja {% endblock %}
{% block content %}

 <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
     	var djangoData = {{ chartData.Temperatura | safe }};
    	var data = google.visualization.arrayToDataTable(djangoData)

        var options = {
          title: '',
          curveType: 'function',
          legend: { position: 'bottom' },
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>


<div id="Index">
<h1>Stacja - {{ station }} </h1>

    {% if dane_pom %}

    <table class="table">
        <thead>
        <tr>
            <th class="col-lg-1">Rodzaj pomiaru</th>
            <th class="col-lg-1">Wartość</th>
            <th class="col-lg-1">Data</th>
        </tr>
        </thead>
        <tbody>
        {% for dana in dane_pom %}
      <tr>
          <td> {{ dana.rodzaj_pomiaru }} </td>
          <td> {{ dana.wartosc }} {{ dana.rodzaj_pomiaru.jednostka }}</td>
          <td> {{ dana.data|date:"d.m.Y"}}, {{ dana.data|time:"H:i" }}</td>
          </tr>
        {% endfor %}
           </tbody>
        </table>
    <p>
        <div id="curve_chart"></div>
    </p>

    {% else %}
    <p> Brak danych do wyświetlenia.</p>
    {% endif %}





</div>

    {% endblock %}
