{% extends "analyzer/base.html"%}
{% block title %} {{ station }} - {{rodzaj_pom}} {% endblock %}
{% block content %}

<h1>{{ station }} - {{rodzaj_pom}} </h1>

 <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() 
      {
     	var djangoData = {{ chartData | safe }};
    	
    	if(djangoData.length>1)
    	{
    		var data = google.visualization.arrayToDataTable(djangoData)

        	var options = {
          	title: '',
          	curveType: 'function',
          	legend: { position: 'bottom' },
          	vAxis: { format: '#,##' },
    		animation:{
        			duration: 2000,
        			easing: 'out',
        			startup: true
      			},
    			
        	};

        	var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        	chart.draw(data, options);
        }
      }
    </script>
    {% if dane_pom %}
       <div id="curve_chart"></div>
    {% else %}
    	<p> Brak danych do wyświetlenia.</p>
    {% endif %}

    {% endblock %}
