{% extends "analyzer/base.html"%}
{% block title %} - stacja {% endblock %}
{% block content %}

<div id="Index">
<h1>Stacja - {{ station }} </h1>

    {% if dane_pom %}

    <table class="table">
        <thead>
        <tr>
            <th class="col-lg-1">Rodzaj pomiaru</th>
            <th class="col-lg-1">Wartość</th>
            <th class="col-lg-1">Data</th>
        </tr>
        </thead>
        <tbody>
        {% for dana in dane_pom %}
      <tr>
          <td> {{ dana.rodzaj_pomiaru }} </td>
          <td> {{ dana.wartosc }} {{ dana.rodzaj_pomiaru.jednostka }}</td>
          <td> {{ dana.data|date:"d.m.Y"}}, {{ dana.data|time:"H:i" }}</td>
          </tr>
        {% endfor %}
           </tbody>
        </table>

    <p>
        TODO.
    </p>
    <p>
        tu jest obrazek z danymi obecnymi.
        <img src="{% url 'image_forecast' %}" />
    </p>

    {% else %}
    <p> Brak danych do wyświetlenia.</p>
    {% endif %}





</div>

    {% endblock %}
